<p id="notice"></p>
<div class="container">
    <div class="px-3 mx-auto">
      <h2 class="main-visual">
        <div class="main-visual-content">
          <font size="7" class="main-visual-text">
            オジェドオヌルドネイルド
            <P></P>
            昨日も今日も明日も</br>
            自分にスイーツでご褒美を
          </font>
          <h3>
            <%= link_to "新規登録", new_user_registration_path, class:"btn-gradient-radius" %>
            <%= link_to "ログイン", new_user_session_path, class:"btn-gradient-3d-simple" %>
          </h3>
        </div>
      </h2>
    </div>
  </div>
</div>