<p id="notice"></p>
<div class="container">
  <!--<div class=row>-->
    <div class="px-3 mx-auto">
      <h2>オジェドオヌルドネイルド</h2>
      <h3>
        全国のおすすめスイーツのショップを</br>
        みんなで共有するサイトです。
      </h3>
      <%#= form_tag(search_path,:method => 'get') do %>
        <%#= text_field_tag :search %>
        <%#= submit_tag 'Search', :name => nil %>
      <%#= end %>

      <div class="row">
        <% @sweets_shops.each do |sweets_shop| %>
          <div class="col-md-3">
            <%= attachment_image_tag sweets_shop, :image, class: 'img-fluid' %>
            <%= sweets_shop.shop_name %></br>
            <%= sweets_shop.tag %>
            <%= sweets_shop.created_at %>
          </div>
        <% end %>
      </div>
    </div>
  <!--</div>-->
</div>